<app-header></app-header>

<ion-content color="light">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" style="padding-bottom: 0px !important;">
        <ion-card style="padding-bottom: 0px !important;" class="rounded-card">
          <!-- <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header> -->
          <ion-card-content >
            <ion-list class="rounded-card">
              <ion-item class="rounded-card">
                <ion-thumbnail slot="end" class="circle-img">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                  <!-- <ion-icon style="color: aqua !important;" name="camera"></ion-icon> -->
                </ion-thumbnail>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12">
                      <ion-badge color="header">¡Bienvenidos!</ion-badge>
                    </ion-col>
                    <ion-col size="12">
                      <h2><strong>Sistema de Identificación de Ganado</strong></h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" style="padding-top: 0px !important;">
        <ion-card style="padding-top: 0px !important;">
          <ion-card-header color="header">
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button size="small" expand="full" fill="solid" color="primary" shape="round">Ver más</ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="6" style="padding-top: 0px !important;">
        <ion-card style="padding-top: 0px !important;">
          <ion-card-header color="secondary">
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button size="small" expand="full" fill="solid" color="primary" shape="round">Ver más</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list [inset]="true">
          <ion-item [button]="true">
            <ion-icon color="primary" slot="start" name="list-circle" size="large"></ion-icon>
            <ion-label>General</ion-label>
            <ion-note slot="end">6</ion-note>
          </ion-item>
          <ion-item [button]="true">
            <ion-icon color="info" slot="start" name="list-circle" size="large"></ion-icon>
            <ion-label>Información</ion-label>
            <ion-note slot="end">15</ion-note>
          </ion-item>
          <ion-item [button]="true">
            <ion-icon color="header" slot="start" name="list-circle" size="large"></ion-icon>
            <ion-label>Configuraciones</ion-label>
            <ion-note slot="end">3</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- <div class="wrapper">
    <div class="outer">
      <div class="card">
        <div class="content">
          <div class="img"><img src="assets/images/img-1.jpg" alt=""></div>
          <div class="details">
            <span class="name">Sumit Kapoor</span>
            <p>Frontend Developer</p>
          </div>
        </div>
        <a href="#">Follow</a>
      </div> -->
      <!-- <div class="card" style="--delay:0;">
        <div class="content">
          <div class="img"><img src="images/img-2.jpg" alt=""></div>
          <div class="details">
            <span class="name">Andrew Neil</span>
            <p>YouTuber & Blogger</p>
          </div>
        </div>
        <a href="#">Follow</a>
      </div>
      <div class="card" style="--delay:1;">
        <div class="content">
          <div class="img"><img src="images/img-3.jpg" alt=""></div>
          <div class="details">
            <span class="name">Jasmine Carter</span>
            <p>Freelancer & Vlogger</p>
          </div>
        </div>
        <a href="#">Follow</a>
      </div>
      <div class="card" style="--delay:2;">
        <div class="content">
          <div class="img"><img src="images/img-4.jpg" alt=""></div>
          <div class="details">
            <span class="name">Justin Chung</span>
            <p>Backend Developer</p>
          </div>
        </div>
        <a href="#">Follow</a>
      </div>
      <div class="card" style="--delay:2;">
        <div class="content">
          <div class="img"><img src="images/img-5.jpg" alt=""></div>
          <div class="details">
            <span class="name">Adrina Calvo</span>
            <p>Teacher & Advertiser</p>
          </div>
        </div>
        <a href="#">Follow</a>
      </div> -->
    <!-- </div>
  </div> -->
</ion-content>


<app-footer></app-footer>
