ion-item {
  --padding-start: 0;
  --border-color: #611232;
  // --border-width: 3px;
  // border-bottom: 3px solid #611232 !important;

}

.circle-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-card {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  // background-color: #86b7e7;
}
ion-thumbnail{
  width: 60px;
  height: 60px;
  padding: 0px !important;
  -webkit-margin-end: 0px;
}

.card-content-ios, .card-content-md {
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  padding-right: 1px !important;
}

// .grid-column-padding {
//   // --ion-grid-column-padding: 0px;
//   // --ion-grid-padding: 0px;
//   // padding-top: 0px !important;
// }

.big-icon {
  font-size: 50px;
}

.ion-list-actions {
  border-radius: 10px;
  min-height: 40px;
}

.mt-mb-5-px {
  margin-top: 5px;
  margin-bottom: 5px;
}
.boder-bottom-user {
  border-bottom: #cccccc 1px solid;
}

.ion-icon-custom-list {
  height: 40px;
  margin-left: 3px;
}

.ion-border-list-primary {
  border: solid 2px var(--ion-color-primary);
}

.ion-border-list-secondary {
  border: solid 2px var(--ion-color-secondary);
}

.ion-border-list-warning {
  border: solid 2px var(--ion-color-header);
}

.ion-border-list-success {
  border: solid 2px var(--ion-color-success);
}

.ion-border-list-info {
  border: solid 2px var(--ion-color-info);
}

