
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row  class="ion-justify-content-justify">
      <ion-col size="11" sizeMd="6">
        <div class="ion-text-center">
          <h2><strong>Términos y condiciones</strong></h2>
        </div>
      </ion-col>
    </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="11" sizeMd="6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
        reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
        dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
        reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
        dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
        reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
        dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
        reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
        dicta.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="auto" class="ion-no-margin">
      <ion-button class="ion-text-capitalize" color="secondary" fill="outline" [routerLink]="['/login']">Cancelar</ion-button>
      <ion-button class="ion-text-capitalize" fill="outline"  [routerLink]="['/bienvenidos']">Aceptar</ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>

 </ion-content>
