<app-header></app-header>
<ion-content class="ion-padding">
  <ion-button id="open-toast" expand="block" (click)="showSuccess('Mensaje de operación exitosa')">Operación exitosa</ion-button>
  <ion-button id="open-toast" expand="block" (click)="showError('Mensaje de error en la operación')">Error</ion-button>
  <ion-button id="open-toast" expand="block" (click)="showInfo('Mensaje informativo')">Información</ion-button>
  <ion-button id="open-toast" expand="block" (click)="showWarning('Mensaje de adevertencia')">Adevertencia</ion-button>
</ion-content>
<app-footer></app-footer>
