// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --font-size-title: 20px;
  --font-size-h5: 18px;
  // --ion-font-family: Arial, sans-serif;
  --ion-grey-color: #cccccc;

  --ion-success-letters: #3c763d;
  --ion-success-background: #dff0d8;

  --ion-info-letters: #31708f;
  --ion-info-background: #d9edf7;

  --ion-warning-letters: #8a6d3b;
  --ion-warning-background: #fcf8e3;

  --ion-error-letters: #545454;
  --ion-error-background: #f2dede;
}




