.ion-card-form {
  --box-shadow: none;
  -webkit-box-shadow: none;
}
.mr-0 {
  --padding-end: 0;
}

.mt-0 {
  --padding-top: 0;
}

// ion-item {
//   --inner-padding-start: 0px; /* Ajusta el valor según necesites */
//   // color: beige;
// }


// @media (min-aspect-ratio: 8/9) {
//   .hide-footer {
//     display: none;
//   }
// }

// ion-footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   z-index: 9999;
//   background: white;
// }

// .keyboard-is-open ion-footer {
//   transform: translateY(0) !important;
// }
