.ion-card-form {
  --box-shadow: none;
  -webkit-box-shadow: none;
}
.mr-0 {
  --padding-end: 0;
}

// ion-item {
//   --inner-padding-start: 0px; /* Ajusta el valor según necesites */
//   // color: beige;
// }
