<app-header></app-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label class="text-bold">Datos del usuario</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="Usuario*:" labelPlacement="floating" class="color-label-floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña*:" labelPlacement="floating" class="color-label-floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Confirmar contraseña*:" labelPlacement="floating" class="color-label-floating"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="Nombre:" disabled="true" value="Felipe Luna Linares"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email:" disabled="true" value="felipe23@email.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="RFC:" disabled="true" value="FELI930912GRA"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-button class="no-capital-letters" color="secondary" expand="block" fill="outline" [routerLink]="['/login']">
        Cancelar
      </ion-button>
      <ion-button class="no-capital-letters" expand="block" fill="outline" (click)="siguiente()">
        Siguiente
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
