
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="Clave del Técnico*:" labelPlacement="floating"  class="color-label-floating" [disabled]="sesionCorrecta === 'false'" [value]="sesionCorrecta === 'false' ? '25632865' : ''"></ion-input>
    </ion-item>
    @if (sesionCorrecta !== 'false') {
      <ion-item  style="margin-top: 10px;">
        <ion-button class="no-capital-letters" color="secondary" size="default" expand="block" fill="outline">
          Cancelar
        </ion-button>
        <ion-button class="no-capital-letters" size="default" expand="block" fill="outline" (click)="buscar()">
          Buscar
        </ion-button>
      </ion-item>
    }
  </ion-list>
  @if (sesionCorrecta !== 'false') {
    <ion-list [inset]="true">
      <ion-item>
        <ion-label><strong>Técnico:</strong></ion-label>
        <p>Juan Montero Silva</p>
      </ion-item>
    </ion-list>
  }


  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="Código*:" labelPlacement="floating" placeholder="Capturar código de autorización"  class="color-label-floating" [disabled]="disabled"></ion-input>
    </ion-item>
    <ion-item  style="margin-top: 10px;">
      <ion-button class="no-capital-letters" size="default" color="secondary" expand="block" fill="outline"  [routerLink]="['/login']" [disabled]="disabled">
        Cancelar
      </ion-button>
      <ion-button class="no-capital-letters" size="default" expand="block" fill="outline"  (click)="validar()" [disabled]="disabled">
        Validar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

