<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header style="background-color: #6F7271;">
      <ion-card-title style="color: white;">Editar registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">
        <ion-button class="ion-text-capitalize" fill="outline">Guardar</ion-button>
        <ion-button class="ion-text-capitalize" fill="outline" color="secondary">Limpiar</ion-button>
      </ion-col>
    </ion-row>
    </ion-card>
</ion-content>

<app-footer></app-footer>
